<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="col-lg-10 offset-1"><!--Cada div se divide en 12 columnas, col-lg-10 indica que solo se usaran 10 columnas | offset-1 indica que fuera del dive habra una columna de espacio-->
   <header id="header">
      <h1>
        {{title}}
      </h1>
   </header>
    <nav id="nav" class="col-lg-12">
        <ul>
          <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
          <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
          <li><a [routerLink]="['/crear-producto']" [routerLinkActive]="['activado']">Crear producto</a></li>
        </ul>
    </nav>

    <section id="main" class="col-lg-12">
         <router-outlet></router-outlet>
    </section>
    <footer id="footer" class="col-lg-12">
       <p>Angular 5</p>
    </footer>
</div>
